# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Eclipse stuffs
/.settings
/.cproject
/.project

# build dirs
/examples/*/build-cli
/Debug